<div class="users-show-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-4 col-md-4 users-show-container">
        <h1 class="text-center text-white">Account Imformation</h1>
        <table class="table table__currentUserImformation">
          <tr>
            <td>
              Name:
            </td>
            <td>
              <%= @current_user.name %>
            </td>
          </tr>
          <tr>
            <td>
              Email:
            </td>
            <td>
              <%= @current_user.email %>
            </td>
          </tr>
          <tr>
            <td>
              Password:
            </td>
            <td>
              セキュリティの都合上表示されません
            </td>
          </tr>
        </table>
        <h2>Edit</h2>
        <div class="form__editUserImformation">
          <%= form_for @current_user do |f| %>
            <div class="form-group">
              <%= f.label :name, class: 'text-white' %>
              <%= f.text_field :name, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :email, class: 'text-white' %>
              <%= f.text_field :email, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :password, class: 'text-white' %>
              <%= f.password_field :password, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :password_confirmation, class: 'text-white' %>
              <%= f.password_field :password_confirmation, class: 'form-control' %>
            </div>
            <%= f.submit "Update", class: 'btn-block btn-white' %>
          <% end %>  
        </div>
      </div>
    </div>
  </div>
</div>
